:root{
    --main-color:#0b0b0b;
}





//Styles for Link router that uses to move between pages

.link{
    color: #fff;
    text-decoration: none;
}

.link1{
    color:var(--main-color);
    text-decoration: none;
}